.bg1, .bg2, .bg3, .bg4 {
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* Home */
.bg1{
	background-image: url('images/heaven.jpg');
	min-height: 100%;
}
/*Treatment*/
                         
.bg2{
	background-image: url("images/flower.jpg");
	min-height: 400px;
}
/*Gift*/  
.bg3{
	background-image: url("images/rocks.jpg");
	min-height: 400px;
}
/*Contact*/ 
.bg4{
	background-image: url("images/leaf.jpg");
	min-height: 400px;
}

.bottomfoot{
	font-size: 20px;
}

.crim{
	font-family: 'Crimson Text', serif; 
}

.dropdown {
	color: #9d9d9d;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.fonts {
	font-size: 20px; 
}

#loader-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
}

#loader-wrapper .loader-section {
    position: fixed;
    top: 0;
    width: 51%;
    height: 100%;
    background: #222222;
    z-index: 1000;
}
 
#loader-wrapper .loader-section.section-left {
    left: 0;
}
 
#loader-wrapper .loader-section.section-right {
	right: 0;
}

#loader {
	z-index:1001;
    display: block;
    position: relative;
    left: 50%;
    top: 50%;
    width: 150px;
    height: 150px;
    margin: -75px 0 0 -75px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: green;
    -webkit-animation: spin 4s linear infinite; /* Chrome, Opera 15+, Safari 5+ */
    animation: spin 4s linear infinite; /* Chrome, Firefox 16+, IE 10+, Opera */
}
 
#loader:before {
    content: "";
    position: absolute;
    top: 5px;
    left: 5px;
    right: 5px;
    bottom: 5px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: red;
    -webkit-animation: spin 6s linear infinite; /* Chrome, Opera 15+, Safari 5+ */
      animation: spin 6s linear infinite; /* Chrome, Firefox 16+, IE 10+, Opera */
}
 
#loader:after {
    content: "";
    position: absolute;
    top: 15px;
    left: 15px;
    right: 15px;
    bottom: 15px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #3498db;
    -webkit-animation: spin 3s linear infinite; /* Chrome, Opera 15+, Safari 5+ */
      animation: spin 3s linear infinite; /* Chrome, Firefox 16+, IE 10+, Opera */
}
 
@-webkit-keyframes spin {
    0%   {
        -webkit-transform: rotate(0deg);  /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: rotate(0deg);  /* IE 9 */
        transform: rotate(0deg);  /* Firefox 16+, IE 10+, Opera */
    }
    100% {
        -webkit-transform: rotate(360deg);  /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: rotate(360deg);  /* IE 9 */
        transform: rotate(360deg);  /* Firefox 16+, IE 10+, Opera */
    }
}
@keyframes spin {
    0%   {
        -webkit-transform: rotate(0deg);  /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: rotate(0deg);  /* IE 9 */
        transform: rotate(0deg);  /* Firefox 16+, IE 10+, Opera */
    }
    100% {
        -webkit-transform: rotate(360deg);  /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: rotate(360deg);  /* IE 9 */
        transform: rotate(360deg);  /* Firefox 16+, IE 10+, Opera */
    }
}

/* Loaded */

.loaded #loader-wrapper .loader-section.section-right,
.loaded #loader-wrapper .loader-section.section-left {
 
    -webkit-transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000); 
                transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);
}

.loaded #loader {
	opacity: 0;
	-webkit-transition: all 0.3s ease-out; 
	transition: all 0.3s ease-out;
}

.loaded #loader-wrapper {
	-webkit-transform: translateY(-100%);
		-ms-transform: translateY(-100%);
			transform: translateY(-100%);

	-webkit-transition: all 0.3s 1s ease-out; 
			transition: all 0.3s 1s ease-out;
}

.loadTitle{
	font-family: 'Crimson Text';
	font-size: 40px;
	height:100px;
	margin-top:35px;
	margin-left:35px;
}
.mainTitle{
	font-size: 40px; 
}

.no-js #loader-wrapper {
    display: none;
}

.price{
	padding-left: 1em;
}

.titles{
	font-size: 25px;
}

.w3-wide {letter-spacing: 10px;}
.w3-hover-opacity {cursor: pointer;}

body, html { 
    height: 100%;
    color: #777;
    line-height: 1.8;
}

@media screen and (max-width: 1024px){
	
	.fonts{
		font-size: 13px;
	}
	
	.bg1, .bg2, .bg3, .bg4 {
		background-attachment: scroll;
	}
	
	.bottomfoot{
		font-size: 15px;
    }
	
	.mainTitle{
		font-size:27px;
	}

	.titles{
		font-size:19px;
	}
}


#address{
	position: absolute; 
	text-decoration: underline;
}

#adp{
	position: relative; 
	padding-left: 50%
}


#contacts{
	padding-bottom: 200%;
}

#map{
	height: 100%;
	width: 40%;
	position: absolute;
}


#ohp{
	position: absolute; 
}

#opening{
	position: absolute; 

	text-decoration: underline;
}


.w3-wide {letter-spacing: 10px;}
.w3-hover-opacity {cursor: pointer;}
