.bg1, .bg2, .bg3, .bg4 {
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.dropdown {
	color: #9d9d9d;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.crim{
	font-family: 'Crimson Text', serif; 
}

body, html { 
    height: 100%;
    color: #777;
    line-height: 1.8;
}


.fonts {
	font-size: 18px; 
}



.titles{
	font-size: 25px;
}

@media screen and (max-width: 1000px){
	
	.fonts{
		font-size: 13px;
	}
	
}
	

/* Home */
.bg1{
	background-image: url('images/heaven.jpg');
	min-height: 100%;
}
/*Treatment*/

                          
.bg2{
	background-image: url("images/flower.jpg");
	min-height: 400px;
}
/*Gift*/  
.bg3{
	background-image: url("images/rocks.jpg");
	min-height: 400px;
}
/*Contact*/ 
.bg4{
	background-image: url("images/leaf.jpg");
	min-height: 400px;
}

body {
	margin: 0;
}


#contacts{
	padding-bottom: 200%;
}

#map{
	height: 100%;
	width: 40%;
	position: absolute;
}

#address{
	position: absolute; 

	text-decoration: underline;
}

#adp{

	position: relative; 
	padding-left: 51%

}

#ohp{

	position: absolute; 

}

#opening{
	position: absolute; 

	text-decoration: underline;
}

#bottomfoot{
	position: absolute;
	background: black;
	width: 100%;
	padding-left: 7px;
}

.w3-wide {letter-spacing: 10px;}
.w3-hover-opacity {cursor: pointer;}

@media only screen and (max-device-width: 1024px) {
	.bg1, .bg2, .bg3, .bg4 {
		background-attachment: scroll;
	}
} 
